<footer class="bg-dark text-white mt-5">
  <div class="container-fluid py-5">
    <div class="col-md-12 py-2" style="text-align: center;">
      <a href="https://github.com/rafiandria23/my-shoes" class="fab fa-github btn-dark rounded-circle"
        style="font-size: 3em; text-decoration: none; color: darkgrey;"></a>
    </div>
    <div class="col-md-12 py-2" style="text-align: center;">
      <span class="text-muted">Copyright &copy; 2020 MyShoes. All rights reserved.</span>
    </div>
  </div>
</footer>