<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MyShoes</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= pageInfo.title == 'MyList' ? 'active' : '' %>">
          <a class="nav-link" href="/mylist">MyList</a>
        </li>
        <li class="nav-item <%= pageInfo.title == 'Community' ? 'active' : '' %>">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item <%= pageInfo.title == 'Explore' ? 'active' : '' %>">
          <a class="nav-link" href="/explore">Explore</a>
        </li>
        <% if (typeof pageInfo.session.user != "undefined") { %>
          <li class="nav-item">
            <a class="btn btn-outline-light my-2 my-sm-0" href="/user/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="btn btn-outline-light my-2 my-sm-0" href="/user/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>